/* Base styles to resolve build warnings */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  -webkit-font-smoothing: antialiased;
}

/* Fix for safe area on mobile devices */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
.pt-safe {
  padding-top: env(safe-area-inset-top);
}